/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
  font-family: 'Raleway', sans-serif;

 }

 nav {
     background-color: white;
 }

#img-logo {
    max-height: 55px;
}

nav ul a,
nav .brand-logo {
  color: #445;
}
nav .brand-logo {
  font-family: 'Raleway', sans-serif;
}

nav .brand-logo {
    /*left: 15%;
    padding-left: 10%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);*/
  }

nav .right {
  right: 5%;
  -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax {
  zoom: 160%;
  position: relative;
  bottom -30px;
  left 30%;

 
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

  .header {
    margin-top: 15%;
  }

  .header_subtitle {
    font-size: 1.5em;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
